.container{
    margin: auto;

}
@media screen and (min-width : 1200px) {
    .container{
        width: 1170px;
    }
}

@media screen and (max-width : 1199px) and (min-width : 992px) {
    .container{
        width: 780px;
    }
}
@media screen and (min-width : 991px) {
    .container{
        width: 750px;
    }
}




.head{
background-image: url(../img/landing.jpg);
width: 100%;
height: 100vh;
display: flex;
background-size: cover;
justify-content: center;
align-items: center;
}
.header{
    text-align: center;
    

}
.header h3{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    color: cadetblue;
}
.header-1{
background-color: rgb(228, 228, 228);

}

.header-1 .container {
padding: 20px 0px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.header-1 .container .item{
width: 30%;
text-align: center;


}
.header-1 .container .item h3{
font-weight: bolder;
font-size:23px;


}
.header-1 .container .item i{
    font-size: 35px;
    color: cadetblue;

}
.header-1 .container .item p{
    font-size: 23px;
}
       
@media screen and (min-width :1200px) {
    .container{
        
        width: 80%;
        margin: auto;
    }
}
@media screen  and (max-width : 1199px) and (min-width : 992px){
 
        .container{
width: 75%;


        }
}
@media screen and (max-width : 991px) and (min-width : 772px) {
    .container{
        width: 60%;
        
        margin: auto;
    }
    .header-1 .container .item{
       width:  50%;
    }
}
@media screen and (max-width : 771px) {
    .header-1 .container .item{
        width: 100%;
        
    }
}

.service-logo{
    width: fit-content;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
}
.service-logo h2{
    font-size: 110px ;
    color: rgba(111, 110, 110, 0.351) ;
    
    
}
.service-logo p{
    margin-top: -125px; 
}


.services{


}
.services .container{
display: flex;
justify-content: space-between;
}
.services .container .item-services{


width: 30%;
align-items: flex-start;
}
.item-services-child{

display: flex;
padding-top: 20px;
padding-bottom: 20px;
}
.icon-services{

}
.icon-services i{
    font-size: 33px;
    color: cadetblue;
}
.contant-services h3{
font-size: 23px;
}
.contant-services p{
font-weight: 300;
color: rgba(170, 170, 170, 0.921);
line-height: 1.6rem;
font-size: 22px;
}
.contant-services{
   
    padding-left: 20px;
}
body{
    background-color: rgb(228, 228, 228);
}